body {
    background-color: black;
    padding: 0px;
    margin: 0px;
    float: left;
}

.textIndex {
    font-family: 'Pacifico', cursive;
    background: -webkit-linear-gradient(#ffa84c, #ff7b0d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
}