body {
    background-color: black;
    padding: 5px;
    margin: 5px;
}

.textIndex {
    font-family: 'Pacifico', cursive;
    background: -webkit-linear-gradient(#ffa84c, #ff7b0d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}

.fa-utensils {
    color: #ff7b0d;
    width: 250px;
    height: 250px;
}